<div class="flex w-full h-full flex-col items-center gap-4">

  <div class="bg-sky-800/30 rounded-xl w-full flex flex-col gap-4 p-5 ">
    <h1 class="text-center text-3xl">Examples</h1>
    <button
      appShineEffect
      class=" w-fit flex justify-center items-center
           text-white         p-2           rounded-md" (click)="addExample()">
      <span class="material-icons">add</span>
    </button>
    @for (example of examples(); track $index) {
      <div class="relative border-slate-50/30 border pt-1 p-3 rounded-xl flex flex-col gap-6">
        <div class="flex justify-between w-full">

          <label class=" w-fit text-2xl px-1 left-2 focus-within:text-white">{{ example.title ? example.title:'Example Title' }}</label>
          <div class="h-full flex flex-col justify-start items-center">
            <button appShineEffect
                    class=" w-fit flex justify-center items-center  h-fit my-auto  text-white  p-2    rounded-md"
                    (click)="deleteExample($index)">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </div>
        <div class="flex gap-3">
          <app-input
            class=""
            [label]="'Name'"
            [(value)]="example.title"
          ></app-input>
          <app-input
            class=" w-80"
            [label]="'Description'"
            [(value)]="example.description"

          ></app-input>
        </div>
        <div class="min-h-32">
          <app-text-area
            class=" h-full"
            [label]="'Example Content'"
            [(value)]="example.content"
          ></app-text-area>
        </div>
      </div>
    }
  </div>
</div>

