<div class=" h-full absolute inset-1 md:static z-10 drop-shadow-2xl">

  <div [attr.data-opened]="sidenavService.opened()"
       class="transition-all h-full
       duration-500 bg-primary-4/50 drop-shadow-2xl flex
        flex-col gap-2 data-[opened=true]:w-80 w-16 rounded-xl p-2"
  >
    <div class="w-full flex items-center"
         [class.justify-center]="!sidenavService.opened()"
         [class.justify-end]="sidenavService.opened()">

      <div class="group relative w-16 h-16 perspective" [attr.data-opened]="sidenavService.opened()"
           (click)="sidenavService.toggle()"
      >
        <div
          class="absolute inset-0 flex items-center justify-center transition-transform  group-data-[opened=false]:rotate-y-180 backface-hidden">
          <span class="material-icons text-4xl">chevron_left</span>
        </div>

        <div
          class="absolute inset-0 flex items-center justify-center transition-transform  rotate-y-180 group-data-[opened=false]:rotate-y-0 backface-hidden">
          <span class="material-icons text-4xl">apps</span>
        </div>
      </div>
    </div>
    @if (authService.user()) {
      <div class="w-full flex flex-col items-center gap-2 transition-all">
        <div class="size-20 pt-auto">
          <img
            [src]="authService.user()?.photoURL"
            [class.w-20]="sidenavService.opened()"
            [class.w-8]="!sidenavService.opened()"
            class="transition-all rounded-full aspect-square mx-auto mt-auto"
          />
        </div>

        <span class="text-center text-2xl overflow-hidden w-full text-nowrap"
              [class.opacity-0]="!sidenavService.opened()"
        >
          {{ authService.user()?.displayName }}
        </span>
        <div class="w-full flex items-center justify-center">

          <div appShineEffect [gradientSize]="200"
               class="rounded-xl w-full pl-3 p-2 cursor-pointer flex items-center gap-5 overflow-hidden"
               routerLink="">
            <span class="material-icons-outlined text-4xl">home</span>
            <!--            @if (sidenavService.opened()) {-->
            <span class="text-nowrap flex-grow"> Home  </span>
            <!--            }-->
          </div>
        </div>
        <div class="w-full flex items-center justify-center">

          <div appShineEffect [gradientSize]="200"
               class="rounded-xl w-full pl-3 p-2 cursor-pointer flex items-center gap-5 overflow-hidden"

               routerLink="/settings">
            <span class="material-icons-outlined text-4xl">settings</span>
            <!--            @if (sidenavService.opened()) {-->
            <span class="text-nowrap flex-grow"> Settings  </span>
            <!--            }-->
          </div>
        </div>
      </div>
    }
    @if (isPromptSectionEnabled) {
      <div
        [attr.data-opened]="sidenavService.opened()"
        class="flex-grow
      hidden
      md:flex
      data-[opened=true]:flex
      w-full
      flex-col gap-2 justify-center items-center">
        @for (item of sidenavService.items(); track item.name) {
          <div class="w-full flex items-center justify-center">

            <div appShineEffect [gradientSize]="200"
                 class="rounded-xl w-full pl-3 p-2 cursor-pointer flex items-center gap-5 overflow-hidden"
                 [routerLink]="'/prompt/'+promptId+'/'+item.route">

              <span class="material-icons-outlined text-4xl">{{ item.icon }}</span>
              <span class="text-nowrap flex-grow"> {{ item.label }}  </span>
            </div>
          </div>
        }
      </div>
    }

    <div class="flex-grow"></div>
    <div class="flex items-center justify-center w-full">
      @if (authService.user()) {
        <button
          appShineEffect
          class="w-full p-2 cursor-pointer flex items-center  rounded-xl gap-1"
          (click)="signOut()"
        >
          <span class="material-icons-outlined">logout</span>
          @if (sidenavService.opened()) {
            <span class="">Logout</span>
          }
        </button>
      }
    </div>
  </div>


</div>
