<div class="xl:p-4 p-1 h-full absolute inset-1 md:static z-10 drop-shadow-2xl">

  <div [attr.data-opened]="sidenavService.opened()"
       class="transition-all h-full
       duration-[300ms] bg-primary-4/50 drop-shadow-2xl flex
        flex-col gap-10 data-[opened=true]:w-80 w-16 rounded-xl p-2"
  >
    <div class="w-full flex items-center"
         [class.justify-center]="!sidenavService.opened()"
         [class.justify-end]="sidenavService.opened()">

      <div
        (click)="sidenavService.toggle()"
        class="bg-primary-900 p-3 w-fit d-flex items-center justify-center cursor-pointer rounded-xl text-4xl flex transition-all select-none">
        <span
          [style]="{'transform': 'rotate('+(sidenavService.opened()?180:0)+'deg)'}"
          class="material-icons-outlined"
        >
          {{ sidenavService.opened() ? 'chevron_right' : 'apps' }}
        </span>
      </div>
    </div>
    @if (authService.user()) {
      <div class="w-full flex flex-col items-center gap-2 transition-all">
        <img
          [src]="authService.user()?.photoURL"
          [class.w-20]="sidenavService.opened()"
          class="rounded-full w-12 aspect-square mx-auto"
        />

        <span class="text-center text-2xl overflow-hidden w-full text-nowrap"
              [class.opacity-0]="!sidenavService.opened()"
        >
            {{ authService.user()?.displayName }}
          </span>
      </div>
    }
    <div
      [attr.data-opened]="sidenavService.opened()"
      class="flex-grow
      hidden
      md:flex
      data-[opened=true]:flex
      w-full
      flex-col gap-2 justify-center items-center">
      @for (item of sidenavService.items(); track item.name) {
        <div class="w-full flex items-center justify-center">

          <div
            class="rounded-xl bg-sky-900 w-full p-3 cursor-pointer flex items-center gap-5 overflow-hidden"

            [routerLink]="item.route">
            <span class="material-icons-outlined text-4xl">{{ item.icon }}</span>
<!--            @if (sidenavService.opened()) {-->
              <span class="text-nowrap flex-grow"> {{ item.label }}  </span>
<!--            }-->
          </div>
        </div>
      }
    </div>

    <div class="flex items-center justify-center w-full">
      @if (!authService.user()) {

        <div class="w-full px-6 sm:px-0 flex" (click)="authService.googleSignIn().subscribe()">
          <button type="button" class="
           w-full font-medium rounded-lg text-sm text-center cursor-pointer
          hover:text-white hover:drop-shadow-2xl overflow-hidden
            inline-flex gap-2 items-center justify-center">
            <div class=" bg-black rounded-full">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"
                   xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;" class="p-2 w-12 h-12">
                <path fill="#EA4335"
                      d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                <path fill="#4285F4"
                      d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                <path fill="#FBBC05"
                      d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                <path fill="#34A853"
                      d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                <path fill="none" d="M0 0h48v48H0z"></path>
              </svg>
            </div>
            @if (sidenavService.opened()) {
              <span class="overflow-hidden text-nowrap">Sign in with Google</span>
            }
          </button>
        </div>


      } @else {
        <button class="p-3 cursor-pointer flex items-center justify-center rounded-xl gap-1"
                (click)="authService.signOut()"
        >
          @if (sidenavService.opened()) {
            <span class="">Logout</span>
          }
          <span class="material-icons-outlined">logout</span>
        </button>
      }
    </div>
  </div>


</div>
