<div class="flex w-full h-full flex-col items-center p-10 gap-4">

  <div class="bg-sky-800 rounded-xl w-full flex flex-col gap-4 p-5 ">
    <h1 class="text-center text-3xl">Other Prompt Settings</h1>
    <div class="flex flex-col gap-2">
      <span>Preferred Delimiter </span>
      <div class="rounded-xl overflow-hidden flex w-fit ">
        <button class="p-2 bg-sky-900 data-[checked=true]:bg-sky-700"
                [attr.data-checked]="delimiter == 'json'"
                (click)="delimiter = 'json'"
        >Json
        </button>
        <button class="p-2 bg-sky-900 data-[checked=true]:bg-sky-700 border-x border-slate-400/70"
                [attr.data-checked]="delimiter == 'xml'"
                (click)="delimiter = 'xml'"
        >Xml
        </button>
        <button class="p-2 bg-sky-900 data-[checked=true]:bg-sky-700"
                [attr.data-checked]="delimiter == 'custom'"
                (click)="delimiter = 'custom'"
        >Custom
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <span>Variables </span>
      <div class=" overflow-hidden flex w-fit gap-2">
        @for (_ of variables; track $index) {
          <div>
            <input type="text" class="rounded-l-xl outline-none bg-sky-900 p-2"
                   [(ngModel)]="variables[$index]">
            <button class="p-2 bg-sky-900 rounded-r-xl" (click)="variables.splice($index, 1)">-</button>
          </div>
        }
        <button class="p-2 aspect-square w-10 bg-sky-900 rounded-xl" (click)="variables.push('')">+</button>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <span>Do you want the model to impersonate someone?</span>

      <div class=" overflow-hidden flex justify-start items-center w-full gap-2">

        <div class="relative inline-block w-11 h-5 my-2">
          <input checked id="switch-component" #checkbox type="checkbox" (click)="impersonate = checkbox.checked?impersonate??'':null" class="peer appearance-none w-11 h-5
          bg-sky-700 rounded-full checked:bg-sky-700 cursor-pointer transition-colors duration-300"/>
          <label for="switch-component" class="absolute top-0 left-0 w-5 h-5 bg-sky-900 rounded-full border border-sky-700
            shadow-sm transition-transform duration-300 peer-checked:translate-x-6 peer-checked:border-sky-700 cursor-pointer">
          </label>
        </div>
        {{ impersonate!=null ? 'Yes' : 'No' }}
        @if (impersonate!=null){
          <div class="flex-grow">

          <input type="text"
                 placeholder="Describe here the person you want to impersonate"
                 class="rounded-xl w-full outline-none bg-sky-900 p-2" [(ngModel)]="impersonate">
          </div>
        }

      </div>
    </div>
  </div>
</div>

