<div class="flex flex-col gap-2 relative bg-primary-4/30 p-4 rounded-xl">
  <span class="text-2xl w-full text-center">History</span>

  @for (promptRecord of history(); track promptRecord.id) {
    <div
      (click)="selectRecord(promptRecord)"
      class="flex p-2 w-full h-16 rounded-xl items-center gap-5"
    >
      @let active = (promptRecord.id === activeRecord()) || ($first && activeRecord() == undefined);
      <div class="h-full relative flex items-center">
        <div class="rounded-full h-3 w-3 outline-2 outline-white/40"
             [class]="{'bg-white/40': active}"></div>
        <div class="absolute w-full h-full top-9 flex justify-center">

          <div [class.opacity-0]="$last"
               class="h-full border-l"></div>
        </div>
      </div>

      <div class="p-3 rounded-xl"
           [class]="{'bg-white/15': active}"
      >

        {{ promptRecord.id | date:'MMM dd, yyyy - HH:mm' }}
      </div>
    </div>
  }
</div>
